---
import BaseLayout from "../layouts/BaseLayout.astro" 
--- 
<BaseLayout>
    <h1 class="center mb-10 text-4xl">{"Gallery Page"}</h1>
    <div class="space-y-10 mr-5 flex flex-wrap">
            <img class="mr-10" src="/images/MyWifeandI.jpg" alt="My Wife and I" width="300px">
            <img class="mr-10" src="/images/The Girls and I.jpg" alt="Girls and I" width="300px">
        </div>
</BaseLayout>
