---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-4xl text-black dark:text-white font-black">
        Welcome to my blog! I'm Ken Stevens
      </h1>
      <div class="space-y-50"></div>
      </div>
    </div>
  </div>
  <div> 
    <img src="/images/KennethStevens.jpg" alt="Picture of me" width="350px">
  </div>
</BaseLayout>
