<nav>
<ul class="flex">
<li class="mr-6"><a class="text-blue-500 justify-between text-inline" href="/">Home</a></li>
<li class="mr-6"><a class="text-blue-500 justify-between text-inline" href="/about/">About</a></li>
<li class="mr-6"><a class="text-blue-500 justify-between text-inlins" href="/blog/">Blog</a></li>
</ul>
</nav>
